.infoModal {
    display: block;
    position: fixed;
    top: auto;
    bottom: 250px;
    right: 20%;
    background: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    z-index: 5;
    border: 1px solid var(--color-black1C);
    animation: slideUp 0.3s ease-out forwards;
}

.infoModal.hide {
    animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@media (max-width: 1400px) {
    .infoModal {
        right: 8%;

    }
}

@media (max-width: 1250px) {
    .infoModal {
        right: 20px;

    }
}

@media (max-width: 375px) {
    .infoModal {
        padding: 10px;
        width: 90%;

    }
}